<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wkwebview_sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F00B8E991F2B3A1500125998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F00B8EAD1F2B3A1500125998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F00B8EB81F2B3A1500125998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
